@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html {
  font-family: "DM Sans", sans-serif;
}
section {
  width: 1440px;
}
#photo-text {
  width: 370px;
  height: 224px;
  background-color: #fff;
  position: absolute;
  top: 432px;
  left: 300px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding-left: 42px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
}
#photo-text h2 {
  padding-top: 42px;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}
#photo-text p {
  font-size: 18px;
  line-height: 32px;
  text-align: left;
  color: rgba(51, 51, 51, 0.5016);
}
#left-content-wrapper {
  padding-top: 216px;
  padding-left: 135px;
}
#left-content-wrapper p {
  font-weight: bold;
  font-size: 24px;
  color: #d6a85a;
  margin-bottom: 21px;
}
#left-content-wrapper h3 {
  width: 291px;
  height: 192px;
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
  text-align: left;
  margin-bottom: 29px;
}
#left-content-wrapper h4 {
  font-size: 18px;
  line-height: 32px;
  width: 406px;
  height: 96px;
  margin-bottom: 38px;
  margin-right: 94px;
}

#button {
  width: 170px;
  height: 48px;
  border: 1.5px solid rgb(212, 212, 212);
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#shape {
  width: 112px;
  height: 112px;
  background-color: #ffd7a8;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.0967221);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 208px;
  left: 48px;
}
#section-3 {
  background-color: #f2f2f2;
  height: 940px;
}
#wrapper {
  position: relative;
}
#first {
  position: absolute;
  left: 128px;
  top: 248px;
  width: 270px;
  height: 320px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.104535);
  border-radius: 16px;
}
#first h4 {
  width: 129px;
  height: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-top: 32px;
  margin-left: 55px;
  margin-bottom: 2px;
}
#first p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-left: 55px;
  margin-bottom: 74px;
}
#first span img {
  margin-left: 157px;
}
#second {
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.104535);
  border-radius: 16px;
  width: 202px;
  height: 176px;
  position: absolute;
  top: 160px;
  left: 435px;
}
#second h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  width: 82px;
  height: 64px;
  margin-top: 40px;
  margin-left: 48px;
}
#second span img {
  margin-left: 129px;
}
#third {
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.104535);
  border-radius: 16px;
  width: 270px;
  height: 352px;
  position: absolute;
  top: 368px;
  left: 435px;
}
#third h4 {
  width: 133px;
  height: 64px;
  color: #333333;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: 40px;
  margin-left: 48px;
  margin-bottom: 2px;
}
#third p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-left: 48px;
  margin-bottom: 94px;
}
#third span img {
  margin-left: 162px;
}
#right-content-wrapper {
  padding-top: 216px;
  margin-left: 853px;
}
#right-content-wrapper p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #d6a85a;
  margin-bottom: 21px;
}
#right-content-wrapper h3 {
  width: 294px;
  height: 128px;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 29px;
}
#right-content-wrapper h4 {
  width: 470px;
  height: 96px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 38px;
}
#play-button {
  width: 80px;
  height: 80px;
  background-color: #5936af;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/*  */
#foundation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#foundation h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #d6a85a;
  padding-top: 72px;
}
#foundation p {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #333333;
  margin-bottom: 67px;
}
#foundation span {
  width: 308px;
  height: 208px;
  background: #f7f7f7;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */
#collection {
  padding: 216px 135px;
}
#collection p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #d6a85a;
  margin-bottom: 21px;
}
#collection h3 {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  margin-bottom: 29px;
  color: #333333;
}
#collection h4 {
  width: 269px;
  height: 96px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 38px;
}
#collection-image-wrapper {
  padding-top: 128px;
}

#collection-image-wrapper span {
  width: 370px;
  height: 304px;
  background-color: red;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
/*  */
#creative-wrapper {
  padding-top: 216px;
  padding-left: 135px;
}
#creative-wrapper p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #d6a85a;
  margin-bottom: 21px;
}
#creative-wrapper h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 21px;
}
#creative {
  display: flex;
  justify-content: center;
  position: relative;
  width: 140px;
  height: 208px;
  background: #f7f7f7;
  border-radius: 12px;
  margin-right: 25px;
}
#creative span {
  position: absolute;
  margin-top: 24px;
  width: 92px;
  height: 92px;
  background-color: #fff;
  border-radius: 50%;
  padding: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#creative p {
  padding: 135px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.50133);
}
#creative-right {
  position: relative;
  width: 570px;
  height: 560px;
  background: #f7f7f7;
  border-radius: 16px;
  margin: 160px 130px;
}
#creative-right span {
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  color: #ebebeb;
  margin: 47px 47px;
}
#creative-img {
  position: absolute;
  top: 32px;
  left: 233px;
}
#creative-text {
  margin-top: 140px;
  margin-left: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
}
#creative-text p {
  padding-top: 16px;
  padding-bottom: 48px;
  width: 474px;
  height: 102px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
}
/*  */
#testimonial-wrapper {
  display: flex;
  justify-content: center;
  margin: 72px auto;
}
#testimonial-wrapper p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #d6a85a;
}
#testimonial-wrapper h2 {
  margin-top: 21px;
  margin-bottom: 67px;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #333333;
}
#testimonial {
  width: 370px;
  height: 464px;
  background: #fff;
  border-radius: 16px;
  margin-right: 35px;
}
.specific {
  background-color: #ffd7a8 !important;
}
.specific p {
  color: #000 !important;
}
#testimonial p {
  padding: 42px 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
}
#test-img {
  padding-left: 48px;
}
#testimonial h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-left: 16px;
  margin-bottom: 7px;
}
#testimonial h5 {
  font-weight: 400;
  font-size: 14px;
  margin-left: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.50133);
}

/* SLIDER */
#slider-section {
  height: 880px !important;
}
.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: #fff;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #428bca;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}
/*  */
#article {
  height: 1050px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #f2f2f2;
}
#article-wrapper h4 {
  margin-top: 72px;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #d6a85a;
}
#article-wrapper h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
  color: #333333;
}
#article-left {
  position: relative;
  margin-top: 51px;
  margin-left: 183px;
}
.article-left-text {
  position: absolute;
  top: 208px;
  right: 300px;
  width: 470px;
  height: 224px;
  background: #ffffff;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 26px 48px;
}

.article-left-text h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #333333;
  margin-bottom: 8px;
}
.article-left-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 8px;
  color: rgba(51, 51, 51, 0.501557);
}
.article-left-text span {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
}
#article-right-wrapper {
  padding-top: 51px;
  margin-left: 30px;
}
.article-right {
  width: 370px;
  height: 224px;
  background: #ffffff;
  border-radius: 16px;
  padding: 40px 48px;
}
.article-right h3,
.article-right-2 h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
.article-right p,
.article-right-2 p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
}
.article-right span,
.article-right-2 span {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
}
.article-right-2 {
  width: 370px;
  height: 224px;
  background: #ffffff;
  border-radius: 16px;
  margin-top: 32px;
  padding: 40px 48px;
}
/* Footer  */
#footer {
  height: 560px;
  background: #333333;
}
#footer-text h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 18px;
  margin-top: 54px;
}
#footer-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.502972);
}
#footer-text h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 102px;
  margin-bottom: 16px;
}
